nav {
  margin: 25px;
  background: #f9f9f9;
  padding: 16px;
  font-family: 'Solway', serif;
  border-radius: 25px;
}
.menuItems {
  list-style: none;
  display: flex;
}
.menuItems li {
  margin: 30px;
}
nav .menuItems li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}

.main {
  width : 50%;
  min-height: 40px;
  border-radius: 5px;
  padding : 10px ;
  text-align:center;
  margin-left:25%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}